[submodule "addons/tasks"]
	path = addons/tasks
	url = https://github.com/IdeaBot/tasks
[submodule "addons/web_scraper"]
	path = addons/web_scraper
	url = https://github.com/IdeaBot/web_scraper
[submodule "addons/votes"]
	path = addons/votes
	url = https://github.com/IdeaBot/votes
[submodule "addons/pipes"]
	path = addons/pipes
	url = https://github.com/IdeaBot/pipes
[submodule "addons/basics"]
	path = addons/basics
	url = https://github.com/IdeaBot/basics
[submodule "addons/CardLife"]
	path = addons/CardLife
	url = https://github.com/IdeaBot/CardLife
[submodule "addons/roller"]
	path = addons/roller
	url = https://github.com/IdeaBot/roller
[submodule "addons/explorer"]
	path = addons/explorer
	url = https://github.com/IdeaBot/explorer
[submodule "addons/funkin"]
	path = addons/funkin
	url = https://github.com/IdeaBot/funkin
[submodule "addons/bot-tweaks"]
	path = addons/bot-tweaks
	url = https://github.com/IdeaBot/bot-tweaks
[submodule "addons/dev-addons"]
	path = addons/dev-addons
	url = https://github.com/IdeaBot/dev-addons
[submodule "addons/quotes"]
	path = addons/quotes
	url = https://github.com/IdeaBot/quotes
[submodule "addons/karma"]
	path = addons/karma
	url = https://github.com/IdeaBot/karma
[submodule "addons/UIdea"]
	path = addons/UIdea
	url = https://github.com/IdeaBot/UIdea
[submodule "addons/Robocraft"]
	path = addons/Robocraft
	url = https://github.com/IdeaBot/Robocraft
[submodule "addons/toText"]
	path = addons/toText
	url = https://github.com/IdeaBot/toText
[submodule "addons/filters"]
	path = addons/filters
	url = https://github.com/IdeaBot/filters
