[DEFAULT]
url = https://twitrss.me/twitter_user_to_rss/?user=AnIdeaHere
datafilepath = ./plugins/ideas/twitterideas.txt
period = 600
# 600s = 10 minutes
threadedperiod = 7200
# 7200s = 2 hours
# valid options are join, terminate, none and custom [and kill, Python 3.7+ only]
endprocess = terminate
threshold = 86400
# 86400s = 1 day
