[DEFAULT]
channel_url = https://www.googleapis.com/youtube/v3/channels?key=AIzaSyA8swoxzPs-cBK-Laxw3gAoH3ACBErmCfM&part=snippet,statistics,contentDetails&id=
uploads_url = https://www.googleapis.com/youtube/v3/playlists?key=AIzaSyA8swoxzPs-cBK-Laxw3gAoH3ACBErmCfM&part=snippet,player&id=
upload_items_url = https://www.googleapis.com/youtube/v3/playlistItems?key=AIzaSyA8swoxzPs-cBK-Laxw3gAoH3ACBErmCfM&part=snippet&maxResults=1&playlistId=
video_url_start = https://www.youtube.com/watch?v=
channel_url_start = https://www.youtube.com/channel/
channel_id = UUxVG9JnDocRPTiBMc_G04_w
token = AIzaSyA8swoxzPs-cBK-Laxw3gAoH3ACBErmCfM
datafilepath = ./addons/scrapers/youtube.json
period = 30
threadedperiod = 600
# valid options are join, terminate, none and custom [and kill, Python 3.7+ only]
endprocess = terminate
