[DEFAULT]
token = AIzaSyA8swoxzPs-cBK-Laxw3gAoH3ACBErmCfM
url = https://www.googleapis.com/calendar/v3/calendars/
calendarid = igf697fg6c7kq902onikg35gi0@group.calendar.google.com
datafilepath = ./plugins/scrapers/calendar.json
period = 30
threadedperiod = 600
# valid options are join, terminate, none and custom [and kill, Python 3.7+ only]
endprocess = terminate
# channel should be a channel ID
channel = 381172950448996365
message = 474018108223258625
