[DEFAULT]
urlfilepath = ./plugins/scrapers/redditwatchlist.txt
datafilepath = ./plugins/scrapers/reddit.txt
period = 30
threadedperiod = 300
# valid options are join, terminate, none and custom [and kill, Python 3.7+ only]
endprocess = terminate
# channel should be a channel ID
channel = 381172950448996365
